In [156]:
import os
api_key = os.environ.get('FLIGHT_API_KEY', '')
from typing import List

import requests
import pandas as pd

from pprint import pprint
from datetime import datetime

In [157]:
api_key

'9a7cdb-87fe76'

### PLAN:
##### 1.	“ SHOW ME ALL THE FLIGHT SCHEDULE THAT DEPARTS FROM DENVER FOR TODAY ON A MAP (D3.js)”
##### 2.	“AND COMPARE THE SCHEDULE WITH ITS ACTUAL DATA TO DISPLAY PROGRESS ON THE SAME MAP”

*	Display the scheduled flight time <code><strong>(/schedule route)</strong></code> and its actual data <strong><code>(/projection route)</code></strong> onto the same map
*	Estimated arrival time using Flight distance API calculation a distance (or time by speed) between flight’s current location and its destination
*	Other possibilities: time skewness (estimated flying time - actual flying time) by airlines as a performance metric

### TECHNOLOGIES:
* Local development: FLASK + MONGODB
* Web deployment: Google Cloud?

#### 1. Design for FLIGHT TRACKER API
Required fields:
* departure - iataCode
* arrival - iataCode
* flight - iataNumber
* aircraft - regNumber, iataCode
* geography - altitude, direction, latitude, longitude
* speed - horizontal, vertical, isGround
* status
* system - squawk, updated

In [195]:
base_url  = 'http://aviation-edge.com/v2/public/flights'
params = { 'key': api_key,
           'depIata': 'DEN',
#           'depIcao': '',
#           'arrIata': '',
#           'arrIcao': '',
#           'aircraftIcao': '',
#           'regNum': '',
#           'aircraftIcao24': '',
#           'airlineIata': '',
#           'airlineIcao': '',
#           'flightIata': '',
#           'flightIcao': '',
#           'flightNum': '',
#           'status': '',
#           'limit': 100
        }

resp_flight = requests.get(base_url, params=params).json()

In [196]:
len(resp_flight)

367

In [197]:
pprint(resp_flight[3])

{'aircraft': {'iataCode': 'B738',
              'icao24': '',
              'icaoCode': 'B738',
              'regNumber': 'N76503'},
 'airline': {'iataCode': 'UA', 'icaoCode': 'UAL'},
 'arrival': {'iataCode': 'LGA', 'icaoCode': 'KLGA'},
 'departure': {'iataCode': 'DEN', 'icaoCode': 'KDEN'},
 'flight': {'iataNumber': 'UA406', 'icaoNumber': 'UAL406', 'number': '406'},
 'geography': {'altitude': 11277.6,
               'direction': 88.34,
               'latitude': 42.0506,
               'longitude': -88.4931},
 'speed': {'horizontal': 1024.6, 'isGround': 0, 'vertical': 0},
 'status': 'en-route',
 'system': {'squawk': '6261', 'updated': '1569454200'}}

#### 2. Design for AIRPORT DATABASE API
Required fields:
* codeIataAirport, codeIataCity, codeIso2Country
* nameAirport, nameCountry
* latitudeAirport, longitudeAirport
* timezone(?)

In [15]:
base_url = 'https://aviation-edge.com/v2/public/airportDatabase'
params = {'key': api_key,
          'codeIso2Country': 'US'
         }

us_airports = requests.get(base_url, params=params).json()

In [17]:
len(us_airports)

2336

In [ ]:
# Display all airport results containing user-defined strings
pprint([airport for airport in us_airports if ('denver' in airport.get('timezone').lower()) and ('international' in airport.get('nameAirport').lower())])

In [34]:
# Sample data

# DENVER INTERNATIONAL AIRPORT (DIA)

#   'GMT': '-7',
#   'airportId': '1746',
#   'codeIataAirport': 'DEN',
#   'codeIataCity': 'DEN',
#   'codeIcaoAirport': 'KDEN',
#   'codeIso2Country': 'US',
#   'geonameId': '5419401',
#   'latitudeAirport': '39.84939',
#   'longitudeAirport': '-104.672844',
#   'nameAirport': 'Denver International',
#   'nameCountry': 'United States',
#   'phone': '303-342-2000',
#   'timezone': 'America/Denver'},

#### 3. Design for TIMETABLE API
Required fields ('departure'):
* departure - iataCode, scheduledTime, gate, terminal, delay (if delayed)
* arrival - iataCode, scheduledTime, gate, terminal, baggage, delay (if delayed)
* airline
* flight number (iata?)
* status

In [192]:
base_url = 'http://aviation-edge.com/v2/public/timetable'
params = {'key': api_key,
          'iataCode': 'DEN',
          'type': 'departure'
         }

resp_timetable = requests.get(base_url, params=params).json()

In [193]:
len(resp_timetable)

1020

In [194]:
resp_timetable[3]

{'type': 'departure',
 'status': 'active',
 'departure': {'iataCode': 'DEN',
  'icaoCode': 'KDEN',
  'terminal': None,
  'gate': 'B29',
  'baggage': None,
  'delay': None,
  'scheduledTime': '2019-09-25T22:50:00.000',
  'estimatedTime': '2019-09-25T22:50:00.000',
  'actualTime': None,
  'estimatedRunway': None,
  'actualRunway': None},
 'arrival': {'iataCode': 'BOS',
  'icaoCode': 'KBOS',
  'terminal': 'B',
  'gate': 'B27',
  'baggage': None,
  'delay': None,
  'scheduledTime': '2019-09-26T04:46:00.000',
  'estimatedTime': None,
  'actualTime': None,
  'estimatedRunway': None,
  'actualRunway': None},
 'airline': {'name': 'United Airlines', 'iataCode': 'UA', 'icaoCode': 'UAL'},
 'flight': {'number': '1606', 'iataNumber': 'UA1606', 'icaoNumber': 'UAL1606'},
 'codeshared': None}

In [191]:
pprint([schedule['flight'] for schedule in resp if schedule.get('flight').get('iataNumber') == "UA3634"])

[{'iataNumber': 'UA3634', 'icaoNumber': 'UAL3634', 'number': '3634'}]

In [182]:
pprint([schedule['flight'] for schedule in resp if schedule.get('airline').get('iataCode') == 'OO'])

[{'iataNumber': 'OO5376', 'icaoNumber': 'SKW5376', 'number': '5376'},
 {'iataNumber': 'OO5106', 'icaoNumber': 'SKW5106', 'number': '5106'},
 {'iataNumber': 'OO5315', 'icaoNumber': 'SKW5315', 'number': '5315'},
 {'iataNumber': 'OO5973', 'icaoNumber': 'SKW5973', 'number': '5973'},
 {'iataNumber': 'OO5565', 'icaoNumber': 'SKW5565', 'number': '5565'},
 {'iataNumber': 'OO5625', 'icaoNumber': 'SKW5625', 'number': '5625'},
 {'iataNumber': 'OO5263', 'icaoNumber': 'SKW5263', 'number': '5263'},
 {'iataNumber': 'OO5370', 'icaoNumber': 'SKW5370', 'number': '5370'},
 {'iataNumber': 'OO5499', 'icaoNumber': 'SKW5499', 'number': '5499'},
 {'iataNumber': 'OO5046', 'icaoNumber': 'SKW5046', 'number': '5046'},
 {'iataNumber': 'OO5688', 'icaoNumber': 'SKW5688', 'number': '5688'},
 {'iataNumber': 'OO5830', 'icaoNumber': 'SKW5830', 'number': '5830'},
 {'iataNumber': 'OO5288', 'icaoNumber': 'SKW5288', 'number': '5288'},
 {'iataNumber': 'OO5844', 'icaoNumber': 'SKW5844', 'number': '5844'},
 {'iataNumber': 'OO5815', 'icaoNumber': 'SKW5815', 'number': '5815'},
 {'iataNumber': 'OO5699', 'icaoNumber': 'SKW5699', 'number': '5699'},
 {'iataNumber': 'OO5055', 'icaoNumber': 'SKW5055', 'number': '5055'},
 {'iataNumber': 'OO5719', 'icaoNumber': 'SKW5719', 'number': '5719'},
 {'iataNumber': 'OO5349', 'icaoNumber': 'SKW5349', 'number': '5349'}]

In [209]:
match_count = 0

flight_numbers_in_timetable = {flight.get('flight').get('icaoNumber') for flight in resp_timetable}
flight_numbers_in_tracker = {flight.get('flight').get('icaoNumber') for flight in resp_flight}

for flight in resp_flight:
    if flight.get('flight').get('icaoNumber') in flight_numbers_in_timetable:
        match_count += 1

In [210]:
match_count

180

In [206]:
len(flight_numbers_in_timetable)

1019

In [208]:
len(flight_numbers_in_tracker)

367

In [132]:
def get_info_timetable(airport_code: str ='DEN', airline_code: str =None):
    
    results = []
    
    base_url = 'http://aviation-edge.com/v2/public/timetable'
    params = {'key': api_key,
              'iataCode': airport_code,
              'airline_iata': airline_code,
              'type': 'departure'
             }

    if not airline_code: del params['airline_iata']
        
    schedules = requests.get(base_url, params=params).json()
    print(f'Searched data counts: {len(schedules)}')

    for schedule in schedules:

        # departure info
        departure_iatacode = schedule['departure']['iataCode']
        departure_scheduledtime = schedule['departure']['scheduledTime']
        departure_scheduledtime = datetime.strptime(departure_scheduledtime, '%Y-%m-%dT%H:%M:%S.%f').strftime('%Y-%m-%d %H:%M:%S')
        departure_gate = schedule['departure']['gate']
        departure_terminal = schedule['departure']['terminal']
        departure_delay = schedule['departure']['delay']

        # arrival info
        arrival_iatacode = schedule['arrival']['iataCode']
        arrival_scheduledtime = schedule['arrival']['scheduledTime']
        arrival_scheduledtime = datetime.strptime(arrival_scheduledtime, '%Y-%m-%dT%H:%M:%S.%f').strftime('%Y-%m-%d %H:%M:%S')
        arrival_gate = schedule['arrival']['gate']
        arrival_terminal = schedule['arrival']['terminal']
        arrival_baggage = schedule['arrival']['baggage']
        arrival_delay = schedule['arrival']['delay']

        # airline info
        airline_iatacode = schedule['airline']['iataCode']
        airline_name = schedule['airline']['name']

        # flight info
        flight_iatanumber = schedule['flight']['iataNumber']
        flight_status = schedule['status']
        
        results.append(
             {
              'departure_iatacode': departure_iatacode,
              'departure_scheduledtime': departure_scheduledtime,
              'departure_gate': departure_gate,
              'departure_terminal': departure_terminal,
              'departure_delay': departure_delay,
              'arrival_iatacode': arrival_iatacode,
              'arrival_scheduledtime': arrival_scheduledtime,
              'arrival_gate': arrival_gate,
              'arrival_terminal': arrival_terminal,
              'arrival_baggage': arrival_baggage,
              'arrival_delay': arrival_delay,
              'airline_iatacode': airline_iatacode,
              'airline_name': airline_name,
              'flight_iatanumber': flight_iatanumber,
              'flight_status': flight_status  
            }
        )

    return results

In [133]:
results = get_info_timetable('DEN')

Searched data counts: 602

In [149]:
schedule_df = pd.DataFrame.from_records(results)

In [151]:
schedule_df.query("flight_iatanumber == 'WN150'")

,airline_iatacode,airline_name,arrival_baggage,arrival_delay,arrival_gate,arrival_iatacode,arrival_scheduledtime,arrival_terminal,departure_delay,departure_gate,departure_iatacode,departure_scheduledtime,departure_terminal,flight_iatanumber,flight_status
49,WN,Southwest Airlines,None,None,406,ONT,2019-09-24 22:35:00,4,35,C37,DEN,2019-09-24 21:25:00,None,WN150,active

#### Airport Database
Required fields ('departure'):

In [88]:
base_url = 'https://aviation-edge.com/v2/public/airportDatabase'
params = {'key': api_key}

airport_db = requests.get(base_url, params=params).json()

In [113]:
df_airport = pd.DataFrame.from_records(airport_db)
df_airport.head()

,GMT,airportId,codeIataAirport,codeIataCity,codeIcaoAirport,codeIso2Country,geonameId,latitudeAirport,longitudeAirport,nameAirport,nameCountry,phone,timezone
0,-10,1,AAA,AAA,NTGA,PF,6947726,-17.05,-145.41667,Anaa,French Polynesia,,Pacific/Tahiti
1,10,2,AAB,AAB,YARY,AU,7730796,-26.7,141.04167,Arrabury,Australia,,Australia/Brisbane
2,2,3,AAC,AAC,HEAR,EG,6297289,31.133333,33.75,El Arish International Airport,Egypt,,Africa/Cairo
3,1,4,AAE,AAE,DABB,DZ,2570559,36.821392,7.811857,Les Salines,,,Africa/Algiers
4,-5,5,AAF,AAF,KAAF,US,4146153,29.733334,-84.98333,Apalachicola Regional,United States,,America/New_York

In [115]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///airport.db', echo=True)

In [116]:
df_airport.to_sql('airports', con=engine)

2019-09-21 16:17:17,190 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-09-21 16:17:17,190 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,191 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-09-21 16:17:17,192 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,193 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("airports")
2019-09-21 16:17:17,193 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,196 INFO sqlalchemy.engine.base.Engine
CREATE TABLE airports (
	"index" BIGINT,
	"GMT" TEXT,
	"airportId" TEXT,
	"codeIataAirport" TEXT,
	"codeIataCity" TEXT,
	"codeIcaoAirport" TEXT,
	"codeIso2Country" TEXT,
	"geonameId" TEXT,
	"latitudeAirport" TEXT,
	"longitudeAirport" TEXT,
	"nameAirport" TEXT,
	"nameCountry" TEXT,
	phone TEXT,
	timezone TEXT
)


2019-09-21 16:17:17,197 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,199 INFO sqlalchemy.engine.base.Engine COMMIT
2019-09-21 16:17:17,199 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_airports_index ON airports ("index")
2019-09-21 16:17:17,200 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,201 INFO sqlalchemy.engine.base.Engine COMMIT
2019-09-21 16:17:17,224 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-09-21 16:17:17,322 INFO sqlalchemy.engine.base.Engine INSERT INTO airports ("index", "GMT", "airportId", "codeIataAirport", "codeIataCity", "codeIcaoAirport", "codeIso2Country", "geonameId", "latitudeAirport", "longitudeAirport", "nameAirport", "nameCountry", phone, timezone) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-09-21 16:17:17,322 INFO sqlalchemy.engine.base.Engine ((0, '-10', '1', 'AAA', 'AAA', 'NTGA', 'PF', '6947726', '-17.05', '-145.41667', 'Anaa', 'French Polynesia', '', 'Pacific/Tahiti'), (1, '10', '2', 'AAB', 'AAB', 'YARY', 'AU', '7730796', '-26.7', '141.04167', 'Arrabury', 'Australia', '', 'Australia/Brisbane'), (2, '2', '3', 'AAC', 'AAC', 'HEAR', 'EG', '6297289', '31.133333', '33.75', 'El Arish International Airport', 'Egypt', '', 'Africa/Cairo'), (3, '1', '4', 'AAE', 'AAE', 'DABB', 'DZ', '2570559', '36.821392', '7.811857', 'Les Salines', '', '', 'Africa/Algiers'), (4, '-5', '5', 'AAF', 'AAF', 'KAAF', 'US', '4146153', '29.733334', '-84.98333', 'Apalachicola Regional', 'United States', '', 'America/New_York'), (5, '-3', '6', 'AAG', 'AAG', 'SSYA', 'BR', '3471795', '-24.103611', '-49.79', 'Arapoti', 'Brazil', '', 'America/Sao_Paulo'), (6, '1', '7', 'AAH', 'AAH', 'EDKA', 'DE', '3247449', '50.75', '6.133333', 'Aachen/Merzbruck', 'Germany', '', 'Europe/Berlin'), (7, '-3', '8', 'AAI', 'AAI', 'SWRA', 'BR', '7668483', '-12.916667', '-46.933334', 'Arraias', 'Brazil', '', 'America/Araguaina')  ... displaying 10 of 10051 total bound parameter sets ...  (10049, '2', '10050', 'ZZU', 'ZZU', 'FWUU', 'MW', '6297127', '-11.442778', '34.01278', 'Mzuzu', 'Malawi', '', 'Africa/Blantyre'), (10050, '-5', '10051', 'ZZV', 'ZZV', 'KZZV', 'US', '4528929', '39.933334', '-82.01667', 'Zanesville', 'United States', '', 'America/New_York'))
2019-09-21 16:17:17,360 INFO sqlalchemy.engine.base.Engine COMMIT

In [119]:
%%bash
open .

In [ ]:
engine.execute('SELECT * FROM airports').fetchall()

In [120]:
df = pd.read_sql_query('SELECT * FROM airports', engine)

2019-09-21 23:30:34,822 INFO sqlalchemy.engine.base.Engine SELECT * FROM airports
2019-09-21 23:30:34,822 INFO sqlalchemy.engine.base.Engine ()

In [121]:
df

,index,GMT,airportId,codeIataAirport,codeIataCity,codeIcaoAirport,codeIso2Country,geonameId,latitudeAirport,longitudeAirport,nameAirport,nameCountry,phone,timezone
0,0,-10,1,AAA,AAA,NTGA,PF,6947726,-17.05,-145.41667,Anaa,French Polynesia,,Pacific/Tahiti
1,1,10,2,AAB,AAB,YARY,AU,7730796,-26.7,141.04167,Arrabury,Australia,,Australia/Brisbane
2,2,2,3,AAC,AAC,HEAR,EG,6297289,31.133333,33.75,El Arish International Airport,Egypt,,Africa/Cairo
3,3,1,4,AAE,AAE,DABB,DZ,2570559,36.821392,7.811857,Les Salines,,,Africa/Algiers
4,4,-5,5,AAF,AAF,KAAF,US,4146153,29.733334,-84.98333,Apalachicola Regional,United States,,America/New_York
5,5,-3,6,AAG,AAG,SSYA,BR,3471795,-24.103611,-49.79,Arapoti,Brazil,,America/Sao_Paulo
6,6,1,7,AAH,AAH,EDKA,DE,3247449,50.75,6.133333,Aachen/Merzbruck,Germany,,Europe/Berlin
7,7,-3,8,AAI,AAI,SWRA,BR,7668483,-12.916667,-46.933334,Arraias,Brazil,,America/Araguaina
8,8,-3,9,AAJ,AAJ,,SR,0,3.9,-55.36667,Cayana Airstrip,Suriname,,America/Paramaribo
9,9,12,10,AAK,AAK,NGUK,KI,7521791,0.166667,173.58333,Aranuka,Kiribati,,Pacific/Tarawa
10,10,1,11,AAL,AAL,EKYT,DK,2624887,57.08655,9.872241,Aalborg,Denmark,,Europe/Copenhagen
11,11,2,12,AAM,AAM,FAMD,ZA,7668229,-24.8,31.533333,Mala Mala,South Africa,,Africa/Johannesburg
12,12,4,13,AAN,AAN,OMAL,AE,6300095,24.260231,55.616627,Al Ain,United Arab Emirates,,Asia/Dubai
13,13,-4,14,AAO,AAO,,VE,3486270,9.431944,-64.46389,Anaco,Venezuela,,America/Caracas
14,14,3,15,AAQ,AAQ,URKA,RU,6300989,44.9,37.316666,Anapa,Russia,,Europe/Moscow
15,15,1,16,AAR,AAR,EKAH,DK,2611665,56.30823,10.626351,Aarhus Airport,Denmark,,Europe/Copenhagen
16,16,9,17,AAS,AAS,,ID,7730799,-3.916667,139.25,Apalapsili,Indonesia,,Asia/Jayapura
17,17,8,18,AAT,AAT,ZWAT,CN,7910421,47.750362,88.08444,Altay,China,,Asia/Shanghai
18,18,13,19,AAU,AAU,,WS,7667905,-13.458333,-172.6,Asau,Samoa,,Pacific/Apia
19,19,8,20,AAV,AAV,,PH,0,6.333333,124.76667,Allah Valley,Philippines,,Asia/Manila
20,20,5,21,AAW,AAW,,PK,0,34.2,73.25,Abbottabad,Pakistan,,Asia/Karachi
21,21,-3,22,AAX,AAX,SBAX,BR,7668431,-19.568056,-46.92917,Araxa,Brazil,,America/Sao_Paulo
22,22,3,23,AAY,AAY,OYGD,YE,7668412,16.19596,52.173256,Al Ghaydah,Yemen,,Asia/Aden
23,23,-6,24,AAZ,AAZ,MGQZ,GT,6299804,14.87,-91.5,Quetzaltenango,Guatemala,,America/Guatemala
24,24,7,25,ABA,ABA,UNAA,RU,6300982,53.716667,91.5,Abakan,Russia,,Asia/Krasnoyarsk
25,25,1,26,ABB,ABB,EGUD,NG,7668214,51.666668,-1.283333,RAF Station,Nigeria,,Africa/Lagos
26,26,1,27,ABC,ABC,LEAB,ES,6299323,38.948334,-1.863333,Los Llanos,Spain,,Europe/Madrid
27,27,3.30,28,ABD,ABD,OIAA,IR,6300034,30.363905,48.226597,Abadan,Iran,,Asia/Tehran
28,28,-5,29,ABE,ABE,KABE,US,5200013,40.651573,-75.434364,Lehigh Valley International,United States,,America/New_York
29,29,12,30,ABF,ABF,,KI,0,1.670833,173.30417,Abaiang,Kiribati,,Pacific/Tarawa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10021,10021,1,10022,ZXY,HAG,,NL,0,0,0,Holland Spoor Rail Station,Netherlands,,Europe/Amsterdam
10022,10022,4,10023,ZXZ,DXB,,AE,0,25.2644444,55.3116667,Jumeirah Beach Bus Station,United Arab Emirates,,Asia/Dubai
10023,10023,1,10024,ZYA,AMS,,NL,0,52.3730556,4.8922222,Amsterdam Centraal Railway Station,Netherlands,,Europe/Amsterdam
10024,10024,0,10025,ZYD,LIS,,PT,0,40.032368,124.28081,Lisbon TP,Portugal,,Europe/Lisbon
10025,10025,1,10026,ZYE,EIN,,NL,0,51.441642,5.4697225,Eindhoven Railway Station,Netherlands,,Europe/Amsterdam
10026,10026,0,10027,ZYF,FAO,,PT,0,37.0153597,-7.935113,Faro TP,Portugal,,Europe/Lisbon
10027,10027,1,10028,ZYG,ZYG,,NO,0,0,0,Gjovik Railway Station,Norway,,Europe/Oslo
10028,10028,1,10029,ZYH,HAG,,NL,0,45.620853,126.23644,The Hague Centraal Railway Station,Netherlands,,Europe/Amsterdam
10029,10029,8,10030,ZYI,ZYI,ZUZY,CN,8260946,27.666668,106.833336,Zunyi,China,,Asia/Shanghai
10030,10030,0,10031,ZYJ,OPO,,PT,0,41.149968,-8.6102426,Porto TP Bus Station,Portugal,,Europe/Lisbon
10031,10031,8,10032,ZYK,ZYK,,CN,0,0,0,Shekou Ferry Port,China,,Asia/Shanghai
10032,10032,6,10033,ZYL,ZYL,VGSY,BD,6301086,24.957598,91.870476,Osmani International,Bangladesh,,Asia/Dhaka
10033,10033,1,10034,ZYM,ZYM,,NL,2759661,51.98,5.91111,Arnhem Railway Station,Netherlands,,Europe/Amsterdam
10034,10034,1,10035,ZYN,FNI,,FR,0,43.836699,4.360054,Railway,France,,Europe/Paris
10035,10035,1,10036,ZYO,ZYO,,NL,2747930,51.53083,4.46528,Roosendaal Railway Station,Netherlands,,Europe/Amsterdam
10036,10036,-5,10037,ZYP,NYC,,US,0,40.7143528,-74.0059731,Penn Railway Station,United States,,America/New_York
10037,10037,-5,10038,ZYQ,SYR,,US,0,43.0481221,-76.1474244,Syracuse Railway,United States,,America/New_York
10038,10038,1,10039,ZYR,BRU,,BE,0,-1,-1,Midi Railway Station,Belgium,,Europe/Brussels
10039,10039,1,10040,ZYS,ZYS,,NO,3140390,59.13118,10.21665,Sandefjord Railway Station,Norway,,Europe/Oslo
10040,10040,1,10041,ZYT,MST,,NL,0,50.8513682,5.6909725,Maastricht Railway Station,Netherlands,,Europe/Amsterdam
10041,10041,1,10042,ZYU,UTC,,NL,0,0,0,Utrecht Centraal Railway Station,Netherlands,,Europe/Amsterdam
10042,10042,1,10043,ZYV,ZYV,,NO,0,0,0,Vegarshei Railway Station,Norway,,Europe/Oslo
10043,10043,1,10044,ZYW,ZYW,,NO,0,0,0,Sandvika Railway Station,Norway,,Europe/Oslo
10044,10044,8,10045,ZYX,SZX,,CN,0,22.543099,114.057868,Yantian Ferry Port,China,,Asia/Shanghai
10045,10045,1,10046,ZYY,ZYY,,NO,0,42.885662,129.43936,Marnardal Railway Station,Norway,,Europe/Oslo
10046,10046,1,10047,ZYZ,ANR,,BE,0,51.21992,4.39625,Berchem Railway,Belgium,,Europe/Brussels
10047,10047,1,10048,ZZN,OSL,,NO,0,59.9138688,10.7522454,Nationaltheatret RailS,Norway,,Europe/Oslo
10048,10048,11,10049,ZZO,ZZO,,RU,8260765,50.666668,142.75,Zonalnoye,Russia,,Asia/Sakhalin
10049,10049,2,10050,ZZU,ZZU,FWUU,MW,6297127,-11.442778,34.01278,Mzuzu,Malawi,,Africa/Blantyre
10050,10050,-5,10051,ZZV,ZZV,KZZV,US,4528929,39.933334,-82.01667,Zanesville,United States,,America/New_York