In [15]:
import os
api_key = os.environ.get('FLIGHT_API_KEY', '')
from typing import List

import requests
import pandas as pd

from pprint import pprint
from datetime import datetime

In [16]:
import pymongo

In [17]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["flight_app"]

In [ ]:
mycol = mydb["timetable"]

In [996]:
cursor = mycol.find()

In [997]:
type(cursor)

pymongo.cursor.Cursor

In [19]:
data_filtered = mydb['timetable'].find({"$or": [{"departure.iataCode": "DEN"},
                                                     {"arrival.iataCode": "DEN"}
                                                     ]
                                             }, {"_id": 0, "departure": 1, "arrival": 1})

In [20]:
for i in data_filtered:
    print(i)
    break

{'departure': {'iataCode': 'DEN', 'icaoCode': 'KDEN', 'terminal': None, 'gate': 'A33', 'baggage': None, 'delay': '1', 'scheduledTime': '2019-09-30T23:59:00.000', 'estimatedTime': '2019-10-01T00:09:00.000', 'actualTime': '2019-10-01T00:00:00.000', 'estimatedRunway': '2019-10-01T00:00:00.000', 'actualRunway': '2019-10-01T00:00:00.000'}, 'arrival': {'iataCode': 'JFK', 'icaoCode': 'KJFK', 'terminal': '5', 'gate': '8', 'baggage': '2', 'delay': None, 'scheduledTime': '2019-10-01T05:43:00.000', 'estimatedTime': '2019-10-01T05:12:00.000', 'actualTime': None, 'estimatedRunway': None, 'actualRunway': None}}

In [ ]:
list(cursor)[:2]

{ "departure" : { "iataCode" : "DEN", "icaoCode" : "KDEN", "terminal" : null, "gate" : "B46", "baggage" : null, "delay" : "7", "scheduledTime" : "2019-09-28T22:20:00.000", "estimatedTime" : "2019-09-28T22:29:00.000", "actualTime" : "2019-09-28T22:27:00.000", "estimatedRunway" : "2019-09-28T22:27:00.000", "actualRunway" : "2019-09-28T22:27:00.000" },
 "arrival" : { "iataCode" : "PDX", "icaoCode" : "KPDX", "terminal" : null, "gate" : "E2", "baggage" : null, "delay" : null, "scheduledTime" : "2019-09-28T23:59:00.000", "estimatedTime" : "2019-09-28T23:40:00.000", "actualTime" : null, "estimatedRunway" : null, "actualRunway" : null },
 "airline" : { "name" : "United Airlines", "iataCode" : "UA", "icaoCode" : "UAL" },
 "flight" : { "number" : "980", "iataNumber" : "UA980", "icaoNumber" : "UAL980" },
 "codeshared" : null }

In [157]:
"_id" : ObjectId("5d90446a4a2467b8d5bd180a")

'9a7cdb-87fe76'

### PLAN:
##### 1.	“ SHOW ME ALL THE FLIGHT SCHEDULE THAT DEPARTS FROM DENVER FOR TODAY ON A MAP (D3.js)”
##### 2.	“AND COMPARE THE SCHEDULE WITH ITS ACTUAL DATA TO DISPLAY PROGRESS ON THE SAME MAP”

*	Display the scheduled flight time <code><strong>(/schedule route)</strong></code> and its actual data <strong><code>(/projection route)</code></strong> onto the same map
*	Estimated arrival time using Flight distance API calculation a distance (or time by speed) between flight’s current location and its destination
*	Other possibilities: time skewness (estimated flying time - actual flying time) by airlines as a performance metric

### TECHNOLOGIES:
* Local development: FLASK + MONGODB
* Web deployment: Google Cloud?

#### 1. Design for FLIGHT TRACKER API
Required fields:
* departure - iataCode
* arrival - iataCode
* flight - iataNumber
* aircraft - regNumber, iataCode
* geography - altitude, direction, latitude, longitude
* speed - horizontal, vertical, isGround
* status
* system - squawk, updated

In [8]:
base_url  = 'http://aviation-edge.com/v2/public/flights'
params = { 'key': api_key
#            'depIata': 'DEN',
#           'depIcao': '',
#           'arrIata': '',
#           'arrIcao': '',
#           'aircraftIcao': '',
#           'regNum': '',
#           'aircraftIcao24': '',
#           'airlineIata': '',
#           'airlineIcao': '',
#           'flightIata': '',
#           'flightIcao': '',
#           'flightNum': '',
#           'status': '',
#           'limit': 100
        }

resp_flight = requests.get(base_url, params=params).json()

In [1050]:
from datetime import datetime

In [1059]:
str(datetime.now())[:10]

'2019-10-07'

In [10]:
type(resp_flight[0].get('system').get('updated'))

str

In [13]:
resp_flight[0]

{'geography': {'latitude': 51.2153,
  'longitude': 2.0399,
  'altitude': 8869.68,
  'direction': 98.55},
 'speed': {'horizontal': 921.42, 'isGround': 0, 'vertical': 15.228},
 'departure': {'iataCode': 'LPL', 'icaoCode': 'EGGP'},
 'arrival': {'iataCode': 'SOF', 'icaoCode': 'LBSF'},
 'aircraft': {'regNumber': 'HALXN',
  'icaoCode': '',
  'icao24': '',
  'iataCode': ''},
 'airline': {'iataCode': 'W6', 'icaoCode': 'WZZ'},
 'flight': {'iataNumber': 'W63PK', 'icaoNumber': 'WZZ3PK', 'number': '3PK'},
 'system': {'updated': '1570656000', 'squawk': '7321'},
 'status': 'started'}

In [12]:
int(resp_flight[0].get('system').get('updated'))

1570656000

In [1041]:
len([flight for flight in resp_flight if (flight.get('flight').get('iataNumber'))]) , len([flight for flight in resp_flight if (flight.get('flight').get('icaoNumber'))])

(11463, 19345)

#### 2. Design for AIRPORT DATABASE API
Required fields:
* codeIataAirport, codeIataCity, codeIso2Country
* nameAirport, nameCountry
* latitudeAirport, longitudeAirport
* timezone(?)

In [230]:
base_url = 'https://aviation-edge.com/v2/public/airportDatabase'
params = {'key': api_key,
          'codeIso2Country': 'US'
         }

us_airports = requests.get(base_url, params=params).json()

In [17]:
len(us_airports)

2336

In [ ]:
# Display all airport results containing user-defined strings
pprint([airport for airport in us_airports if ('denver' in airport.get('timezone').lower()) and ('international' in airport.get('nameAirport').lower())])

In [34]:
# Sample data

# DENVER INTERNATIONAL AIRPORT (DIA)

#   'GMT': '-7',
#   'airportId': '1746',
#   'codeIataAirport': 'DEN',
#   'codeIataCity': 'DEN',
#   'codeIcaoAirport': 'KDEN',
#   'codeIso2Country': 'US',
#   'geonameId': '5419401',
#   'latitudeAirport': '39.84939',
#   'longitudeAirport': '-104.672844',
#   'nameAirport': 'Denver International',
#   'nameCountry': 'United States',
#   'phone': '303-342-2000',
#   'timezone': 'America/Denver'},

#### 3. Design for TIMETABLE API
Required fields ('departure'):
* departure - iataCode, scheduledTime, gate, terminal, delay (if delayed)
* arrival - iataCode, scheduledTime, gate, terminal, baggage, delay (if delayed)
* airline
* flight number (iata?)
* status

In [5]:
base_url = 'http://aviation-edge.com/v2/public/timetable'
params = {'key': api_key,
          'codeshared': 'Null',
#           'iataCode': 'DEN',
          'type': 'arrival'
         }

resp_timetable = requests.get(base_url, params=params).json()

In [7]:
resp_timetable[0]

{'type': 'arrival',
 'status': 'landed',
 'departure': {'iataCode': 'ABZ',
  'icaoCode': 'EGPD',
  'terminal': None,
  'gate': None,
  'baggage': None,
  'delay': '12',
  'scheduledTime': '2019-10-09T13:45:00.000',
  'estimatedTime': '2019-10-09T13:45:00.000',
  'actualTime': '2019-10-09T13:56:00.000',
  'estimatedRunway': '2019-10-09T13:56:00.000',
  'actualRunway': '2019-10-09T13:56:00.000'},
 'arrival': {'iataCode': 'EBJ',
  'icaoCode': 'EKEB',
  'terminal': None,
  'gate': None,
  'baggage': None,
  'delay': '6',
  'scheduledTime': '2019-10-09T16:30:00.000',
  'estimatedTime': '2019-10-09T16:31:00.000',
  'actualTime': '2019-10-09T16:36:00.000',
  'estimatedRunway': '2019-10-09T16:36:00.000',
  'actualRunway': '2019-10-09T16:36:00.000'},
 'airline': {'name': 'Danish Air', 'iataCode': 'DX', 'icaoCode': 'DTR'},
 'flight': {'number': '19', 'iataNumber': 'DX19', 'icaoNumber': 'DTR19'},
 'codeshared': None}

In [384]:
len([schedule for schedule in resp_timetable if schedule.get('arrival').get('iataCode') == "LAX"])

12

In [339]:
len(resp_timetable)

821

In [340]:
len([schedule for schedule in resp_timetable if schedule.get('codeshared') is None])

466

In [342]:
len(resp_timetable)

1767

In [343]:
len([schedule for schedule in resp_timetable if schedule.get('codeshared') is None])

1002

In [299]:
c = Counter()
a = [1, 2, 2, 3, 4]

In [306]:
c.update(a)

In [307]:
c

Counter({1: 3, 2: 6, 3: 3, 4: 3})

In [425]:
timetable_url = 'http://aviation-edge.com/v2/public/timetable'
tt_params = {'key': api_key,
               'iataCode': 'SJU',
             'codeshared': 'Null',
             'type': 'arrival'
             }
timetable_json = requests.get(timetable_url, params=tt_params).json()

In [945]:
airport_url = 'http://aviation-edge.com/v2/public/airportDatabase'
ap_params = {'key': api_key}
airport_json = requests.get(airport_url, params=ap_params).json()

In [946]:
for airport in airport_json:
    if 'PBI' in airport.get('codeIataAirport'):
        pprint(airport)
        break

{'GMT': '-5',
 'airportId': '5966',
 'codeIataAirport': 'PBI',
 'codeIataCity': 'PBI',
 'codeIcaoAirport': 'KPBI',
 'codeIso2Country': 'US',
 'geonameId': '6298874',
 'latitudeAirport': '26.688885',
 'longitudeAirport': '-80.09044',
 'nameAirport': 'International',
 'nameCountry': 'United States',
 'phone': '',
 'timezone': 'America/New_York'}

In [ ]:
results = []
for schedule in timetable_json:
    depart_airport = schedule.get('departure').get('iataCode')
    arrival_airport = schedule.get('arrival').get('iataCode')
    
    for airport in airport_json:
        if 'US' in airport.get('codeIso2Country'):
            if depart_airport == airport.get('codeIataAirport'):

In [392]:
airport_ref = {}
for airport in airport_json:
    airport_ref[airport.get('codeIataAirport')] = airport.get('codeIso2Country')

In [421]:
results = []
for schedule in timetable_json:
    
    depart_airport = schedule.get('departure').get('iataCode')
    arrival_airport = schedule.get('arrival').get('iataCode')
    
    if (airport_ref[depart_airport] == 'US') and (airport_ref[arrival_airport] == 'US'):
        
        if (depart_airport in major_airports) and (arrival_airport in major_airports):
    
            for airport in airport_json:
                if depart_airport == airport.get('codeIataAirport'):
                    schedule['departLat'] = float(airport.get('latitudeAirport'))
                    schedule['departLon'] = float(airport.get('longitudeAirport'))
                    schedule['departAirportTimezone'] = airport.get('timezone')
                    schedule['departCityCode'] = airport.get('codeIataCity')

                elif arrival_airport == airport.get('codeIataAirport'):
                    schedule['arrivalLat'] = float(airport.get('latitudeAirport'))
                    schedule['arrivalLon'] = float(airport.get('longitudeAirport'))
                    schedule['arrivalAirportTimezone'] = airport.get('timezone')
                    schedule['arrivalCityCode'] = airport.get('codeIataCity')

            results.append(schedule)

In [ ]:
results[:10]

In [404]:
import pandas as pd

In [412]:
major_airports.extend(list(pd.read_html('https://en.wikipedia.org/wiki/List_of_the_busiest_airports_in_the_United_States')[1]['IATACode']))

In [416]:
major_airports = set(major_airports)

In [ ]:
major_airports

airportInfo.forEach(airport => {
        masterObj.forEach(item => {
            if (item.departAirportCode === airport.codeIataAirport) {
                item['departLat'] = Number(airport.latitudeAirport);
                item['departLon'] = Number(airport.longitudeAirport);
                item['departAirportTimezone'] = airport.timezone;
                item['departCityCode'] = airport.codeIataCity;
            } else if (item.arrivalAirportCode === airport.codeIataAirport) {
                item['arrivalLat'] = Number(airport.latitudeAirport);
                item['arrivalLon'] = Number(airport.longitudeAirport);
                item['arrivalAirportTimezone'] = airport.timezone;
                item['arrivalCityCode'] = airport.codeIataCity;

In [285]:
from collections import defaultdict
from collections import Counter

In [291]:
depart_DEN_dict = defaultdict(list)

In [292]:
for schedule in resp_timetable:
    if schedule.get('codeshared') is None:
        depart_DEN_dict[schedule.get('departure').get('iataCode')].append(schedule.get('arrival').get('iataCode'))

In [ ]:
depart_DEN_destinations = Counter(depart_DEN_dict['DEN'])
depart_DEN_destinations

In [ ]:
timetable_json[:10]

In [ ]:
pprint([schedule for schedule in resp_timetable if schedule.get('codeshared') is not None])

In [251]:
pprint([schedule for schedule in resp_flight if schedule.get('speed').get('isGround') != 0])

[{'aircraft': {'iataCode': 'B752',
               'icao24': '4CC268',
               'icaoCode': 'B752',
               'regNumber': 'TFFIC'},
  'airline': {'iataCode': 'FI', 'icaoCode': 'ICE'},
  'arrival': {'iataCode': 'KEF', 'icaoCode': 'BIKF'},
  'departure': {'iataCode': 'DEN', 'icaoCode': 'KDEN'},
  'flight': {'iataNumber': 'FI670', 'icaoNumber': 'ICE670', 'number': '670'},
  'geography': {'altitude': 7658.1,
                'direction': 44,
                'latitude': 40.672,
                'longitude': -104.117},
  'speed': {'horizontal': 755.616, 'isGround': 1, 'vertical': 8.45312},
  'status': 'en-route',
  'system': {'squawk': '1445', 'updated': '1569453605'}}]

In [209]:
match_count = 0

flight_numbers_in_timetable = {flight.get('flight').get('icaoNumber') for flight in resp_timetable}
flight_numbers_in_tracker = {flight.get('flight').get('icaoNumber') for flight in resp_flight}

for flight in resp_flight:
    if flight.get('flight').get('icaoNumber') in flight_numbers_in_timetable:
        match_count += 1

In [210]:
match_count

180

In [206]:
len(flight_numbers_in_timetable)

1019

In [208]:
len(flight_numbers_in_tracker)

367

In [132]:
def get_info_timetable(airport_code: str ='DEN', airline_code: str =None):
    
    results = []
    
    base_url = 'http://aviation-edge.com/v2/public/timetable'
    params = {'key': api_key,
              'iataCode': airport_code,
              'airline_iata': airline_code,
              'type': 'departure'
             }

    if not airline_code: del params['airline_iata']
        
    schedules = requests.get(base_url, params=params).json()
    print(f'Searched data counts: {len(schedules)}')

    for schedule in schedules:

        # departure info
        departure_iatacode = schedule['departure']['iataCode']
        departure_scheduledtime = schedule['departure']['scheduledTime']
        departure_scheduledtime = datetime.strptime(departure_scheduledtime, '%Y-%m-%dT%H:%M:%S.%f').strftime('%Y-%m-%d %H:%M:%S')
        departure_gate = schedule['departure']['gate']
        departure_terminal = schedule['departure']['terminal']
        departure_delay = schedule['departure']['delay']

        # arrival info
        arrival_iatacode = schedule['arrival']['iataCode']
        arrival_scheduledtime = schedule['arrival']['scheduledTime']
        arrival_scheduledtime = datetime.strptime(arrival_scheduledtime, '%Y-%m-%dT%H:%M:%S.%f').strftime('%Y-%m-%d %H:%M:%S')
        arrival_gate = schedule['arrival']['gate']
        arrival_terminal = schedule['arrival']['terminal']
        arrival_baggage = schedule['arrival']['baggage']
        arrival_delay = schedule['arrival']['delay']

        # airline info
        airline_iatacode = schedule['airline']['iataCode']
        airline_name = schedule['airline']['name']

        # flight info
        flight_iatanumber = schedule['flight']['iataNumber']
        flight_status = schedule['status']
        
        results.append(
             {
              'departure_iatacode': departure_iatacode,
              'departure_scheduledtime': departure_scheduledtime,
              'departure_gate': departure_gate,
              'departure_terminal': departure_terminal,
              'departure_delay': departure_delay,
              'arrival_iatacode': arrival_iatacode,
              'arrival_scheduledtime': arrival_scheduledtime,
              'arrival_gate': arrival_gate,
              'arrival_terminal': arrival_terminal,
              'arrival_baggage': arrival_baggage,
              'arrival_delay': arrival_delay,
              'airline_iatacode': airline_iatacode,
              'airline_name': airline_name,
              'flight_iatanumber': flight_iatanumber,
              'flight_status': flight_status  
            }
        )

    return results

In [133]:
results = get_info_timetable('DEN')

Searched data counts: 602

In [149]:
schedule_df = pd.DataFrame.from_records(results)

In [151]:
schedule_df.query("flight_iatanumber == 'WN150'")

,airline_iatacode,airline_name,arrival_baggage,arrival_delay,arrival_gate,arrival_iatacode,arrival_scheduledtime,arrival_terminal,departure_delay,departure_gate,departure_iatacode,departure_scheduledtime,departure_terminal,flight_iatanumber,flight_status
49,WN,Southwest Airlines,None,None,406,ONT,2019-09-24 22:35:00,4,35,C37,DEN,2019-09-24 21:25:00,None,WN150,active

#### Airport Database
Required fields ('departure'):

In [228]:
base_url = 'https://aviation-edge.com/v2/public/airportDatabase'
params = {'key': api_key}

airport_db = requests.get(base_url, params=params).json()

In [215]:
airport_db[4]

{'airportId': '5',
 'nameAirport': 'Apalachicola Regional',
 'codeIataAirport': 'AAF',
 'codeIcaoAirport': 'KAAF',
 'latitudeAirport': '29.733334',
 'longitudeAirport': '-84.98333',
 'geonameId': '4146153',
 'timezone': 'America/New_York',
 'GMT': '-5',
 'phone': '',
 'nameCountry': 'United States',
 'codeIso2Country': 'US',
 'codeIataCity': 'AAF'}

In [113]:
df_airport = pd.DataFrame.from_records(airport_db)
df_airport.head()

,GMT,airportId,codeIataAirport,codeIataCity,codeIcaoAirport,codeIso2Country,geonameId,latitudeAirport,longitudeAirport,nameAirport,nameCountry,phone,timezone
0,-10,1,AAA,AAA,NTGA,PF,6947726,-17.05,-145.41667,Anaa,French Polynesia,,Pacific/Tahiti
1,10,2,AAB,AAB,YARY,AU,7730796,-26.7,141.04167,Arrabury,Australia,,Australia/Brisbane
2,2,3,AAC,AAC,HEAR,EG,6297289,31.133333,33.75,El Arish International Airport,Egypt,,Africa/Cairo
3,1,4,AAE,AAE,DABB,DZ,2570559,36.821392,7.811857,Les Salines,,,Africa/Algiers
4,-5,5,AAF,AAF,KAAF,US,4146153,29.733334,-84.98333,Apalachicola Regional,United States,,America/New_York

In [115]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///airport.db', echo=True)

In [116]:
df_airport.to_sql('airports', con=engine)

2019-09-21 16:17:17,190 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-09-21 16:17:17,190 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,191 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-09-21 16:17:17,192 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,193 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("airports")
2019-09-21 16:17:17,193 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,196 INFO sqlalchemy.engine.base.Engine
CREATE TABLE airports (
	"index" BIGINT,
	"GMT" TEXT,
	"airportId" TEXT,
	"codeIataAirport" TEXT,
	"codeIataCity" TEXT,
	"codeIcaoAirport" TEXT,
	"codeIso2Country" TEXT,
	"geonameId" TEXT,
	"latitudeAirport" TEXT,
	"longitudeAirport" TEXT,
	"nameAirport" TEXT,
	"nameCountry" TEXT,
	phone TEXT,
	timezone TEXT
)


2019-09-21 16:17:17,197 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,199 INFO sqlalchemy.engine.base.Engine COMMIT
2019-09-21 16:17:17,199 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_airports_index ON airports ("index")
2019-09-21 16:17:17,200 INFO sqlalchemy.engine.base.Engine ()
2019-09-21 16:17:17,201 INFO sqlalchemy.engine.base.Engine COMMIT
2019-09-21 16:17:17,224 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-09-21 16:17:17,322 INFO sqlalchemy.engine.base.Engine INSERT INTO airports ("index", "GMT", "airportId", "codeIataAirport", "codeIataCity", "codeIcaoAirport", "codeIso2Country", "geonameId", "latitudeAirport", "longitudeAirport", "nameAirport", "nameCountry", phone, timezone) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-09-21 16:17:17,322 INFO sqlalchemy.engine.base.Engine ((0, '-10', '1', 'AAA', 'AAA', 'NTGA', 'PF', '6947726', '-17.05', '-145.41667', 'Anaa', 'French Polynesia', '', 'Pacific/Tahiti'), (1, '10', '2', 'AAB', 'AAB', 'YARY', 'AU', '7730796', '-26.7', '141.04167', 'Arrabury', 'Australia', '', 'Australia/Brisbane'), (2, '2', '3', 'AAC', 'AAC', 'HEAR', 'EG', '6297289', '31.133333', '33.75', 'El Arish International Airport', 'Egypt', '', 'Africa/Cairo'), (3, '1', '4', 'AAE', 'AAE', 'DABB', 'DZ', '2570559', '36.821392', '7.811857', 'Les Salines', '', '', 'Africa/Algiers'), (4, '-5', '5', 'AAF', 'AAF', 'KAAF', 'US', '4146153', '29.733334', '-84.98333', 'Apalachicola Regional', 'United States', '', 'America/New_York'), (5, '-3', '6', 'AAG', 'AAG', 'SSYA', 'BR', '3471795', '-24.103611', '-49.79', 'Arapoti', 'Brazil', '', 'America/Sao_Paulo'), (6, '1', '7', 'AAH', 'AAH', 'EDKA', 'DE', '3247449', '50.75', '6.133333', 'Aachen/Merzbruck', 'Germany', '', 'Europe/Berlin'), (7, '-3', '8', 'AAI', 'AAI', 'SWRA', 'BR', '7668483', '-12.916667', '-46.933334', 'Arraias', 'Brazil', '', 'America/Araguaina')  ... displaying 10 of 10051 total bound parameter sets ...  (10049, '2', '10050', 'ZZU', 'ZZU', 'FWUU', 'MW', '6297127', '-11.442778', '34.01278', 'Mzuzu', 'Malawi', '', 'Africa/Blantyre'), (10050, '-5', '10051', 'ZZV', 'ZZV', 'KZZV', 'US', '4528929', '39.933334', '-82.01667', 'Zanesville', 'United States', '', 'America/New_York'))
2019-09-21 16:17:17,360 INFO sqlalchemy.engine.base.Engine COMMIT

In [119]:
%%bash
open .

In [ ]:
engine.execute('SELECT * FROM airports').fetchall()

In [120]:
df = pd.read_sql_query('SELECT * FROM airports', engine)

2019-09-21 23:30:34,822 INFO sqlalchemy.engine.base.Engine SELECT * FROM airports
2019-09-21 23:30:34,822 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
df

In [218]:
base_url = "http://aviation-edge.com/v2/public/routes"
params = {"key": api_key}

resp_route = requests.get(base_url, params=params).json()

In [219]:
len(resp_route)

300

In [ ]:
den_route = [route for route in resp_route if route.get('departureIata') == "OTP" ]
den_route

In [947]:
base_url = "https://aviation-edge.com/v2/public/countryDatabase"
params = {"key": api_key}
resp_country = requests.get(base_url, params=params).json()

In [956]:
import re

In [988]:
df_city_state_pair = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")[4]
df_city_state_pair['City'] = df_city_state_pair['City'].map(lambda x: re.sub(r'\[.+]', '', x)).map(lambda x: x.lower()).map(lambda x: x.replace('.', ''))

In [989]:
df = df_city_state_pair[['City','State[c]']].rename(columns={'State[c]' : 'State'})

In [990]:
city_state_dict = df.set_index('City').to_dict()

In [991]:
city_state_dict['State'].update({'Windsor Locks' : 'Conneticut', 'Covington' : 'Kentucky', 'Maui' : 'Hawaii', 'Fort Myers' : 'Florida'})

In [992]:
city_state_dict['State'].get('Covington')

'Kentucky'

In [ ]:
city_state_dict

In [949]:
[country for country in resp_country if "States" in country.get('nameCountry')]

[{'countryId': '234',
  'nameCountry': 'United States Minor Outlying Islands',
  'codeIso2Country': 'UM',
  'codeIso3Country': 'UMI',
  'numericIso': '581',
  'population': '0',
  'capital': '',
  'continent': 'OC',
  'nameCurrency': 'Dollar',
  'codeCurrency': 'USD',
  'codeFips': '',
  'phonePrefix': '1'},
 {'countryId': '235',
  'nameCountry': 'United States',
  'codeIso2Country': 'US',
  'codeIso3Country': 'USA',
  'numericIso': '840',
  'population': '310232863',
  'capital': 'Washington',
  'continent': 'NA',
  'nameCurrency': 'Dollar',
  'codeCurrency': 'USD',
  'codeFips': 'US',
  'phonePrefix': '1'}]

In [1030]:
reference_dict = mydb['references'].find({}, { "_id" : 0 })

In [1031]:
for d in reference_dict:
    a = d

In [1034]:
a['airport_names']['ABQ']

'Albuquerque International Airport'

In [1022]:
airport_data = mydb['airport'].find( {"nameCountry": "United States"}, {"_id": 0, "airportId": 0, "codeIcaoAirport": 0, "geonameId": 0, "GMT": 0, "phone": 0, "codeIso2Country": 0, "nameCountry": 0})

In [1023]:
dict(airport_data)

ValueError: dictionary update sequence element #0 has length 6; 2 is required

In [1020]:
len(list(airport_data))

2335

In [1018]:
for airport in airport_data:
    print(airport)
    break

{'nameAirport': 'Apalachicola Regional', 'codeIataAirport': 'AAF', 'latitudeAirport': '29.733334', 'longitudeAirport': '-84.98333', 'timezone': 'America/New_York', 'codeIataCity': 'AAF'}

In [1000]:
base_url = "http://aviation-edge.com/v2/public/cityDatabase"
params = {"key": api_key}

resp_cities = requests.get(base_url, params=params).json()

In [1004]:
pd.Series([city['cityId'] for city in resp_cities]).nunique()

9368

In [1005]:
len(resp_cities)

9368

In [433]:
summary = requests.get("http://127.0.0.1:5000/get-storeddata/DEN").json()

In [ ]:
summary[0]

In [446]:
inbounds = []
outbounds = []
inbound_airlines = []
outbound_airlines = []
inbound_delays = []
outbound_delays = []
airport = "DEN"

for route in summary:
    inbound = route.get('arrival').get('iataCode')
    outbound = route.get('departure').get('iataCode')

    if (airport == inbound):
        origin_for_inbound = outbound
        inbound_airline = route.get('airline').get('name')

        inbounds.append(origin_for_inbound)
        inbound_airlines.append(inbound_airline)
        delay = route.get('arrival').get('delay')
        
        if delay:
            delay = int(delay)
            if (delay > 60):
                delay = "delay > 60"
            elif (30 <= delay <= 60):
                delay = "30 ≥ delay ≥ 60"
            elif (delay < 30):
                delay = "delay ≤ 30"
            else:  # delay is null
                pass
            inbound_delays.append(delay)
        else:
            inbound_delays.append(delay)

    else: # airport != inbound (== outbound)
        destination_for_outbound = inbound
        outbound_airline = route.get('airline').get('name')

        outbounds.append(destination_for_outbound)
        outbound_airlines.append(outbound_airline)
        delay = route.get('arrival').get('delay')
        
        if delay:
            delay = int(delay)
            if (delay > 60):
                delay = "delay > 60"
            elif (30 <= delay <= 60):
                delay = "30 ≥ delay ≥ 60"
            elif (delay < 30):
                delay = "delay ≤ 30"
            else:  # delay is null
                pass
            outbound_delays.append(delay)
        else:
            outbound_delays.append(delay)

In [533]:
print(len(inbound_parent), len(outbound_parent), len(inbounds), len(outbounds), len(inbound_airlines), len(outbound_airlines), len(inbound_delays), len(outbound_delays))
#  = []
# inbound_airlines = []
# outbound_airlines = []
# inbound_delays = []
# outbound_delays = []

3372 4378 3372 4378 3372 4378 3372 4378

In [ ]:
# { "name": "DEN",
# "children": [
#               { "name": "inbound", "children": [ 
#                                                   { "name": "STL", "children": [
#                                                                                  {"name" : "Frontier", "children" : [
#                                                                                                                        { "None" : 1 }... ] }, ...] }, ...] }
# }

In [ ]:
parent_dict = {"name":"DEN", "children":[]}
inbound_dict = {}
airline_dict = {}
delay = {}

for inbound in inbound_parent:   # "inbound"
    inbound_dict["name"] = inbound
    inbound_dict["children"] = []
    
    if duplicate_checker(inbound_dict, "name", inbound) == False:
       
        
    airport_dict = {"children" : []}     # "SJU"
    for airport in inbounds:
        if duplicate_checker(airport_dict, category, airport)
        airport_dict['name'] = airport
        
        for airline in inbound_airlines:
            for delay in inbound_delays:

In [ ]:
def duplicate_checker(obj, category, string):
    if category == "children":
        subcategory = "name"
        for child in obj[category]:
            if child[subcategory] == string:
                return true  # duplicate found
            else:
                return false   
    else:
        subcategory = ""
        for child in obj[category]

In [531]:
outbound_parent = ["outbound" for _ in range(4378)]

In [532]:
len(outbound_parent)

4378

In [665]:
master = []
for a, b, c, d in zip(inbound_parent, inbounds, inbound_airlines, inbound_delays):
    master.append({"parent" : a,
     "airport" : b,
     "airline" : c,
     "delay" : d})

In [802]:
df = pd.DataFrame.from_records(master)

In [803]:
df['delay'] = df['delay'].map(lambda x: x if x is not None else "N/A")

In [804]:
df_mod = df.groupby(['parent', 'airport', 'airline', 'delay']).agg({'delay': 'count'}).sort_values(by=['airport', 'airline'])

In [805]:
df_mod = df_mod.rename(columns={"delay" : "count"}).reset_index()

In [806]:
df_mod.head()

    parent airport             airline            delay  count
0  inbound     ABQ             Flexjet              N/A      2
1  inbound     ABQ   Frontier Airlines              N/A      3
2  inbound     ABQ  Southwest Airlines  30 ≥ delay ≥ 60      1
3  inbound     ABQ  Southwest Airlines              N/A     14
4  inbound     ABQ     United Airlines              N/A     24

In [ ]:
# { "name": "DEN",
# "children": [
#               { "name": "inbound", "children": [ 
#                                                   { "name": "STL", "children": [
#                                                                                  {"name" : "Frontier", "children" : [
#                                                                                                                        { "None" : 1 }... ] }, ...] }, ...] }
# }

In [678]:
master_dict = {}

for row in df_mod.itertuples():
    master_dict[(row[1], row[2], row[3], row[4])] = master_dict.get((row[1], row[2], row[3], row[4]),0) + row[5]

In [679]:
df_mod.head(10)

    parent airport             airline            delay  count
0  inbound     ABQ             Flexjet              N/A      2
1  inbound     ABQ   Frontier Airlines              N/A      3
2  inbound     ABQ  Southwest Airlines  30 ≥ delay ≥ 60      1
3  inbound     ABQ  Southwest Airlines              N/A     14
4  inbound     ABQ     United Airlines              N/A     24
5  inbound     ABQ     United Airlines       delay > 60      1
6  inbound     ABQ     United Airlines       delay ≤ 30      3
7  inbound     ANC     United Airlines              N/A      8
8  inbound     ANC     United Airlines       delay ≤ 30      2
9  inbound     ATL     Delta Air Lines              N/A     47

In [809]:
a = (1, 2, 3)

In [811]:
a.index(2)

1

In [812]:
k = ('a', 'b', 'c', 'd')

In [813]:
key = tuple(x for x in k if k.index(x) < (len(k) - 1))

In [687]:
from collections import defaultdict

In [808]:
for key, value in master_dict.items():
    print(len(key), value)
    break

4 2

In [941]:
def recursive(input_dict):
    
    temp_dict = defaultdict(list)
    for key, value in input_dict.items():
        last_index = len(key) - 1
        
        if last_index > 0:
            k = tuple(x for x in key if key.index(x) < last_index)
            temp_dict[k].append({ key[last_index] : value })
        else:
            return input_dict
#     print(key, temp_dict)
    return recursive(temp_dict)

In [943]:
a = recursive(master_dict)

In [828]:
temp1_dict = defaultdict(list)

In [829]:
for key, value in master_dict.items():
    temp1_dict[(key[0], key[1], key[2])].append({ key[3] : value })
#     temp2_dict[key[2]].append(temp3_dict)
#     temp3_dict[key[3]] = temp3_dict.get(key[3], 0) + value

In [819]:
temp2_dict = defaultdict(list)

In [820]:
for key, value in temp1_dict.items():
    temp2_dict[(key[0], key[1])].append({ key[2] : value })

In [821]:
temp3_dict = defaultdict(list)

In [822]:
for key, value in temp2_dict.items():
    temp3_dict[key[0]].append({ key[1] : value })

In [ ]:
temp3_dict

In [ ]:
# { "name": "DEN",
# "children": [
#               { "name": "inbound", "children": [ 
#                                                   { "name": "STL", "children": [
#                                                                                  {"name" : "Frontier", "children" : [
#                                                                                                                        { "None" : 1 }... ] }, ...] }, ...] }
# }

In [714]:
key = [key for key in temp3_dict.keys()][0]
results_dict = {"name" : airport, "children" : [ { "name" : key, "children" : temp3_dict.values() } ]}

In [944]:
for index, item in enumerate(*a.values()):
    print(index, item)
    break

0 {'ABQ': [{'Flexjet': [{'N/A': 2}]}, {'Frontier Airlines': [{'N/A': 3}]}, {'Southwest Airlines': [{'30 ≥ delay ≥ 60': 1}, {'N/A': 14}]}, {'United Airlines': [{'N/A': 24}, {'delay > 60': 1}, {'delay ≤ 30': 3}]}]}

In [770]:
temp4_list = [] #{"name" : 'a', "children" : []}

In [771]:
for index, item in enumerate(*temp3_dict.values()):
    children = []
    for key, value in item.items():
        children.append(value)
        temp4_list.append({ "name" : key, "children" : value })

In [772]:
temp4_list[:5]

[{'name': 'ABQ',
  'children': [{'Flexjet': [{'N/A': 2}]},
   {'Frontier Airlines': [{'N/A': 3}]},
   {'Southwest Airlines': [{'30 ≥ delay ≥ 60': 1}, {'N/A': 14}]},
   {'United Airlines': [{'N/A': 24}, {'delay > 60': 1}, {'delay ≤ 30': 3}]}]},
 {'name': 'ANC',
  'children': [{'United Airlines': [{'N/A': 8}, {'delay ≤ 30': 2}]}]},
 {'name': 'ATL',
  'children': [{'Delta Air Lines': [{'N/A': 47}, {'delay ≤ 30': 2}]},
   {'Frontier Airlines': [{'N/A': 10}, {'delay ≤ 30': 2}]},
   {'Southwest Airlines': [{'N/A': 24}, {'delay > 60': 2}, {'delay ≤ 30': 1}]},
   {'United Airlines': [{'N/A': 20}, {'delay ≤ 30': 3}]}]},
 {'name': 'AUS',
  'children': [{'Frontier Airlines': [{'N/A': 5}]},
   {'Gryphon Airlines': [{'N/A': 1}]},
   {'Southwest Airlines': [{'N/A': 32}, {'delay ≤ 30': 2}]},
   {'Spirit Airlines': [{'N/A': 6}]},
   {'United Airlines': [{'N/A': 24}]}]},
 {'name': 'BDL',
  'children': [{'Frontier Airlines': [{'N/A': 3}]},
   {'Southwest Airlines': [{'N/A': 4}]},
   {'United Airlines': [{'N/A': 5}]}]}]

In [882]:
temp5_list = []

In [883]:
for item in temp4_list:  # a dictionary
#     for key, value in item.items(): # a dictionary
    children = []
    for key, value in item.items():
        if key == 'name':
            temp = { "name" : value, "children" : [] }   # "ABQ"
        else: # children
            for airline in value: # a dictionary
                for k1, v1 in airline.items():
                    temp2 = { "name" : k1, "children" : [] }
                    
                    for delay in v1:                        
                        for k2, v2 in delay.items():
                            temp3 = {"name" : k2, "value" : v2}
                            temp2['children'].append(temp3)
                    temp['children'].append(temp2)            
    temp5_list.append(temp)

In [884]:
results_dict = {"name" : airport, "children" : [ { "name" : "inbound", "children" : temp5_list } ]}

In [ ]:
results_dict

In [ ]:
temp5_list

In [ ]:
temp5_list

In [ ]:
for index, item in enumerate(temp3_dict.values()):
    print(index, item)

In [559]:
a = defaultdict(list)
b = 'dfdfdf'
a['b'].append({b : 1 })

In [560]:
a

defaultdict(list, {'b': [{'dfdfdf': 1}]})

In [ ]:
df_mod.to_dict()

In [525]:
a = "a"
b = 
{a : b}

{'a': 1}

In [451]:
inbound_family = zip(inbound_airlines, inbound_delays)
children_of_inbound = []

for airport in inbounds:
    children_of_inbound = {"name" : airport, "children" : []}
    
    delay_dict = {}
    airline_dict = {"name" : "", "children" : []}
    for airline, delay in inbound_family:
        delay_dict[delay] = delay_dict.get(delay, 0) + 1
        airline_dict['name'] = airline
        airline_dict['children'].append(delay_dict)

('STL', 'Frontier Airlines', None)

In [452]:
# { "name": "DEN",
# "children": [
#               { "name": "inbound", "children": [ 
#                                                   { "name": "STL", "children": [
#                                                                                  {"name" : "Frontier", "children" : [
#                                                                                                                        { "None" : 1 }... ] }, ...] }, ...] }
# }

In [468]:
inbound_starter = {"name" : "inbound"}
inbound_starter.setdefault("children", [])

[]

In [469]:
inbound_starter

{'name': 'inbound', 'children': []}

In [470]:
temp = {"None" : 5, ">60" : 6, "<60" : 2}

In [ ]:
outbound_parent = ["outbound" for _ in range()]